{% macro banner(h1Text, topperText) %}
    <!-- ============================================ -->
    <!--            Page Banner           -->
    <!-- ============================================ -->
    <section class="page-banner cs-section">
        <div class="cs-container animate">            
            <div class="text-content">
                {% if topperText %}
                    <span class="cs-topper">{{ topperText }}</span>
                {% endif %}
                <h1 class="cs-hero-title text-center">
                    {{h1Text}}
                </h1>
            </div>
        </div>
        <img class="cs-clouds animate" decoding="async" src="/assets/svgs/clouds-hero.svg" alt="rocket" width="1440" height="533">
    </section>
{% endmacro %}